<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random User Generator</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <img :class="gender" :src="picture" :alt="`${firstName} ${lastName}`">
        <h1>Hello {{firstName}} {{lastName}}</h1>
        <h3>Email: {{email}}</h3>
        <h3>Location: {{country}}, {{city}}</h3>
        <h4>Cell: {{cell}}</h4>
        <button v-on:click="getUser()" :class="gender">Get Random User</button>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>

</html>