* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

#app {
    width: 400px;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

h1,
h3,
h4 {
    margin-bottom: 1rem;
}

img {
    border-radius: 50%;
    border: 5px #333 solid;
    margin-bottom: 1rem;
}

.male {
    border-color: #5762D5;
    background-color: #5762D5;
}

.female {
    border-color: #E70D68;
    background-color: #E70D68;
    color: white;
}

button {
    cursor: pointer;
    display: inline-block;
    background: #333;
    color: white;
    font-size: 18px;
    border: 0;
    padding: 1rem 1.5rem;
    border-radius: 5px;
}

button:focus {
    outline: none;
}

button:hover {
    transform: scale(0.98);
}